:root {
    font-family: $main-font-family;
    font-size: 16px;
}

body {
    background: #212121;
    color: #fafafa;
}

a {
    color: #FFB900;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

blockquote {
    margin-left: unset;
    margin-right: unset;
    border-left: 4px solid #424242;
    padding-left: 1em;
}

table {
    width: 100%;
    background: #212121;
    border: 1px solid #424242;
    color: #fafafa;
    border-radius: 8px;
    border-collapse: collapse;

    tr {
        border: none;
        border-collapse: collapse;
    }

    th, td {
        padding: 8px;
    }
        
    th {
        background: #424242;
        border: none;
        border-collapse: collapse;
    }

    td {
        border: 1px solid #424242;
        border-collapse: collapse;
    }
}

.label {
    background: #424242;
    border: 2px solid;
    font-size: smaller;
    padding: 2px 6px;
    border-radius: 4px;
    box-sizing: border-box;
}

.wrapper {
	width: 80%;
	min-width: 300px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $md-break) {
		width: 0.8 * $md-break;
	}

	@media screen and (min-width: $lg-break) {
		width: 720px;
	}
}

body > nav {
    background: #424242;
    color: #fafafa;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

    ul {
        display: flex;
        padding: unset;
        margin: unset;

        li {
            display: flex;
            padding: unset;
            margin: unset;
            justify-content: center;
            align-items: stretch;

            a {
                display: block;
                color: unset;
                text-decoration: none;
                padding: 8px 12px;
                border: 2px solid #424242;
                border-radius: 6px;
                transition: background-color .1s, color .1s;

                &:hover {
                    background: #fafafa;
                    color: #212121;
                }

                &.brand {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    padding: 0 8px;
                }
            }
        }
    }
}

body > footer {
    border-top: 1px solid #424242;
    padding: 0.5em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
    margin-top: 0.5em;

    .nz {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
    }
}

.note {
    margin: 1em 0;
    padding: 8px 12px;
    padding-left: calc(12px - 4px);
    background: #616161;
    color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-left: 4px solid #03A9F4;

    // &.note-yellow {
    //     background-color: #E65100;
    //     color: #FFF8E1;
    // }
}

.project-grid {
    display: grid;
    gap: 8px;
    margin: 1em 0;

    @media screen and (min-width: $md-break) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media screen and (min-width: $lg-break) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .project-button {
        display: block;
        background: #424242;
        color: #fafafa;
        text-decoration: none;
        padding: 8px;
        border-radius: 8px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: transform .2s, color .2s, background-color .2s;
        border: 1px solid rgba(255, 255, 255, 0.125);

        &:hover {
            background: #fafafa;
            color: #212121;
            transform: translateY(-4px) scale(1.05);
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        }

        &:active {
            background: #e0e0e0;
            color: #212121;
            transform: translateY(0);
        }

        > * {
            display: block;
        }

        > .logo {
            text-align: center;
        }

        > .title {
            text-align: center;
            font-weight: bold;
            margin-bottom: 1em;
        }

        > .platforms {
            margin-top: 1em;
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            gap: 2px;

            .label {
                display: block;
                background-color: unset;
            }
        }
    }
}
