@charset "utf-8";

$main-font-family: "Spline Sans", sans-serif;
$head-font-family: "Spline Sans", serif;

$sm-break: 480px;
$md-break: 640px;
$lg-break: 800px;

@import
    "suite/base",
    "suite/home";
