---
layout: default
---

<header class="wrapper">
    <img src="{{ 'assets/icons/suite.svg' | relative_url }}" alt="" height="128" class="logo">
    <h1 class="title">Razza Suite</h1>
    <p class="tagline">A Disjointed Suite of Software by <a href="https://razza.io/">Raresh Nistor</a></p>
</header>

<div class="wrapper">
    <h1>Applications</h1>
    <div class="project-grid">
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/supersize.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">SuperSize</span>
            <span>Resize windows across multiple displays</span>
            <span class="platforms">
                <span class="label">Windows</span>
            </span>
        </a>
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/beetroot.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">Beetroot</span>
            <span>Crowdsourced tunes queue for parties</span>
            <span class="platforms">
                <span class="label">Windows</span>
                <span class="label">macOS</span>
                <span class="label">Linux</span>
                <span class="label">Java</span>
            </span>
        </a>
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/vgapainter.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">VGAPainter</span>
            <span>Draw and convert images for limited graphics formats</span>
            <span class="platforms">
                <span class="label">Windows</span>
                <span class="label">Linux</span>
                <span class="label">Mono</span>
            </span>
        </a>
    </div>

    <h1>Server Applications</h1>
    <div class="project-grid">
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/rbud.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">Backup Daemon</span>
            <span>Extensible backup management with minimal involvement</span>
            <span class="platforms">
                <span class="label">Linux</span>
            </span>
        </a>
    </div>

    <h1>Development</h1>
    <div class="project-grid">
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/green.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">Green</span>
            <span>A toy programming language</span>
            <span class="platforms">
                <span class="label">Linux</span>
            </span>
        </a>
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/rxcl-class.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">RxCL</span>
            <span>A toy programming language</span>
            <span class="platforms">
                <span class="label">Linux</span>
            </span>
        </a>
        <a href="#" class="project-button">
            <span class="logo">
                <img src="{{ 'assets/icons/rxcl-ui.svg' | relative_url }}" alt="" height="64">
            </span>
            <span class="title" role="heading">RxCL UI</span>
            <span>Modern UI components for Windows Forms</span>
            <span class="platforms">
                <span class="label">Windows</span>
                <span class="label">.NET Core</span>
            </span>
        </a>
    </div>

    {{ content }}
</div>
